/* styles.css */
@keyframes changeColors {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
/* Body */
body {
   background: linear-gradient(to left, #19283f, #33d1cc, #ffc400, #ff3150, #19283f);
    background-size: 500% 100%;  /* Adjust the size based on your preference */
    animation: changeColors 20s linear infinite;  /* 20s is the total duration, you can adjust it */
            color: #19283f;
            /* White text for better visibility on dark background */
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /* Set minimum viewport height */
}
.carousel-item img {
    max-width: 70%;
    height: auto;
    margin: auto;
}
/* Page Title */
h1 {
    
    text-align: center;
    color: #33d1cc; /* Match the title color of the main page */
    margin-top: 50px;
}

h5 {
    color: #33d1cc; /* Match the title color of the main page */

}

p{
    color: #33d1cc; 
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Room Container */
.room {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

/* Room Title */
.room h2 {
    color: #ff3150; /* Match the room title color of the main page */
}

/* Book Button */
.book-btn {
    background-color: #ff3150; /* Match the book button color of the main page */
    color: #ffc400; /* Match the text color of the main button on the main page */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #dc1e3b; /* Darken the button color on hover */
}

.carousel-control-prev {
    left: 206px;
}

.carousel-control-next {
    right: 206px;
}


.form-group label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 440px;
    
}

.form-group select {
    position: absolute;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    background-color: #3d2e4f;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #091e34;
    margin-left: 15px;
    margin-left: 442px;
    color: #33d1cc;
}

.form-group option {
    background-color: #3d2e4f;
    color: #ffc400;


}

form button {
    background: linear-gradient(to left, #19283f, #33d1cc, #ffc400, #ff3150, #19283f);
    background-size: 500% 100%;  /* Adjust the size based on your preference */
    animation: changeColors 20s linear infinite;  /* 20s is the total duration, you can adjust it */}